
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: 'Quicksand', sans-serif;
}

h1, p {
  font-family: 'Quicksand', sans-serif;
}

header {
  width: 100%;
  height: 80vh;
  background: url(../img/ilosos1.jpg) no-repeat 50% 50%;
  background-size: cover;
  box-shadow: 0 10px 4px -4px rgba(0, 0, 0, .2);
}
.anim_show {
	opacity:0;
	transition: 1s;
	animation: show 2s 1;
  animation-fill-mode: forwards;
  animation-delay: .3s;

}
@keyframes show{
	 0%{
		 opacity:0;
	 }

	 100% {
		 opacity:1;
	 }
}

.content {
  width: 90%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.logo img {
  position: relative;
  margin: 0;
  float: left;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 2;
}

nav ul {
  list-style: none;
  background: rgba(0,0,0,0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: center;
  margin: 0;
  transition: 1s;
}

nav.black ul {
  background: #000;
}

nav ul li {
  display: inline-block;
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.menu-icon {
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}


@media(max-width: 500px)  {
      .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
      }
      .footer_contact {
        width: 120%;
        font-size: 14px;
      }
      footer p {
        font-size: 14px;
        text-align: center;
        padding-left: 40px;
      }
      .footer_social i {
        display: none;
      }
      .phone {
        display: none;
      }

      nav ul {
        max-height: 0px;
        background: #000;
      }

      nav.black ul {
        background: #000;
      }

      .showing {
        max-height: 20em;
      }

      nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px 0;
        text-align: center;
      }

      .menu-icon {
        display: block;
      }
      .form_container {
        position: relative;
        margin: 0 auto;
        width: 80%;
        overflow: hidden;
        outline: 1px solid orange;
        z-index: 1;
      }
}
.content h1 {
  padding-bottom: 40px;
  text-align: center;
}
.content h1 {
  padding-bottom: 40px;
  text-align: center;
}
.content li {
  padding-top: 10px;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: space-between;
  height: 15vh;;
  width: 100%;
  background: #000;
  font-size: 24px;
}
footer p {
  color: #fff;
}
.footer_social {
  padding-top: 15px;
  margin-left: 15px;
}
.footer_social a {
  text-decoration: none;
  color: #fff;
  font-size: 36px;
  transition: .5s;
}
.footer_social a:hover {
  color: #c54455;
}
.footer_contact {
  text-align: right;
  padding-top: 15px;
  margin-right: 15px;
  color: #fff;
}



/* CONTACT FORM */

.decor {
  position: relative;
  max-width: 400px;
  margin: 20px auto 0;
  background: white;
  border-radius: 30px;
}
.form-left-decoration,
.form-right-decoration {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  background: #ff6666;
  border-radius: 20px;
}
.form-left-decoration {
  bottom: 60px;
  left: -30px;
}
.form-right-decoration {
  top: 60px;
  right: -30px;
}
.form-left-decoration:before,
.form-left-decoration:after,
.form-right-decoration:before,
.form-right-decoration:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  border-radius: 30px;
  background: white;
}
.form-left-decoration:before {top: -20px;}
.form-left-decoration:after {
  top: 20px;
  left: 10px;
}
.form-right-decoration:before {
  top: -20px;
  right: 0;
}
.form-right-decoration:after {
  top: 20px;
  right: 10px;
}
.circle {
  position: absolute;
  bottom: 80px;
  left: -55px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
}
.form-inner {padding: 50px;}
.form-inner input,
.form-inner textarea {
  display: block;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 10px;
  background: #E9EFF6;
  line-height: 40px;
  border-width: 0;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
}
.form-inner input[type="submit"] {
  margin-top: 30px;
  background: #ff6666;
  border-bottom: 4px solid #ad1a00;
  color: white;
  font-size: 14px;
}
.form-inner input[type="submit"]:hover {
  background: #ad1a00;
}
.form-inner textarea {resize: none;}
.form-inner h3 {
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #707981;
}
